<template>
  <q-dialog :value="walletModalShow" @input="closeModal">
      <q-card class="dialog">
        <q-card-section class="row q-pa-sm q-pl-md">
          <div class="">Connected Account</div>
           <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section class="main__section q-ma-xs q-pt-none">
          <div class="row">
            <div class="col q-pt-sm">
              <small>
                {{connectionData.chainData.name}}<br/>
                {{address}}
                </small>
            </div>
            <div class="q-pt-md">
            <q-btn  
              outline dense text-color="red"
              v-close-popup
              @click="disconnect"
            
            >
                Disconnect
              </q-btn>
            </div>
          </div>
          <div class="row q-pt-lg q-gutter-lg flex-center">
            <a :href="etherScan"
              target="_blank"
            >
              <q-btn
                class="small-text"
              >
                View on Explorer
              </q-btn>
            </a>
            <q-btn
             @click="copyAddress" 
             :label="cpButtonLabel"
             class="small-text fixed-width"
             />           
          </div>
       </q-card-section>
      </q-card>
    </q-dialog>
</template>

<script>
import {mapState, mapActions} from 'vuex'
export default {
  name: "WalletModal",
  data() {
    return {
      cpButtonLabel: "Copy Address"
    }
  },
  computed: {
    ...mapState({
     connectionData : state => state.app.connectionData,
     address: state => state.app.address
    }),
    walletModalShow() {
      return this.$store.state.app.walletModalShow
    },
    etherScan() {
      return 'https://'
              + this.connectionData.chainData.network 
              +'.etherscan.io/address/'
              + this.address
    }
  },
  methods: {
    ...mapActions({
       disconnect: 'app/disconnectWallet',
    }),
    closeModal() {
      this.$store.commit('app/SET_WALLET_MODAL', false)
    },
    copyAddress() {
      var t = this
      this.$copyText(this.address).then(function (e) {
          console.log(e)
          t.cpButtonLabel = "Copied"
          setTimeout(()=>{
            t.cpButtonLabel = "Copy Address"
          },  900)
        }, function (e) {
          alert("Cannot copy now")
          console.warn(e)
        })
    },
  }
}
</script>

<style lang="stylus" scoped>
  a 
    text-decoration: none
    color: black
  .dialog 
    width: 420px
  .small-text
    font-size: .7rem  
  .fixed-width
    width: 130px  
</style>