<template>
<q-card class=" flex main__card bg-indigo-2">

       <q-card-section  class=" full-width text-black">
         <div class="card__body flex column items-center ">
            <div class="card__wrap flex row q-mb-sm text-center"
                >
                 <div class="col-12 q-pt-xl q-pb-none" v-if="!profileExist">
                   <h5>
                   Profile with suppplied DID not found.<br/>
                   </h5>
                 </div>
                <div class="col-12 q-pt-md" v-if="profileExist">
                  <q-img :src="getImageUrl" alt="avatar" width="200" id="avatar"/>
                </div>
                <div class="col-12">
                  <h5 class="q-mb-none q-mt-sm">
                  {{profile.name}}
                  </h5>
                </div>
                <div class="col-12 q-pb-sm" v-if="profile.gender">
                  <small>{{profile.gender}}</small>
                </div>
                <div class="col-12 q-pb-sm" v-if="profile.birthdate">
                  {{profile.birthdate}}
                </div>
                <div class="col-12 q-pb-sm" v-if="profile.residenceCity">
                  {{profile.residenceCity}}
                  </div>

                <div class="col-12 q-pb-sm q-pt-lg" v-if="profile.occupation">
                  {{profile.occupation}}
                  </div>
                <div class="col-12 q-pb-sm" v-if="profile.residenceCountry">
                  {{profile.residenceCountry}}
                  </div>

 <q-separator />
                <div class="col-12 q-pb-sm  q-pt-xs text-black" v-if="profile.email">
                  {{profile.email}}
                  </div>
                <div class="col-12 q-pb-lg " v-if="profile.url">
                  <a :href="profile.url" class="text-grey-9" target="blank">{{profile.url}}</a>
                  </div>
                <div class="col-12 q-pb-sm  q-pt-sm text-grey-9" v-if="profile.description">
                  {{profile.description}}
                  </div>
                <div class="col-12 q-pb-lg q-pt-sm text-grey-9" v-if="profile.did">
                  DID:<br> {{profile.did}}
                </div>
            </div>
         </div>

        <q-separator/>
        <div class="flex flex-center">
          <q-btn
            class="bg-indigo-9 text-white q-mt-lg q-mb-md q-px-md"
            label="Back"
            to= '/explore'
            />
            </div>
      </q-card-section>
  </q-card>

</template>

<script>
import { mapActions, mapState } from 'vuex'
import status from '../../configs/status'
import {defaultProfile} from '../../configs/defaultProfile'
import {ipfsBaseUrl} from '../../helpers/ipfs-functions'
export default {
  name: 'ProfileExplore',
  data() {
    return {
      profile: {...defaultProfile},
    }
  },
  computed: {
    ...mapState({
      useExplored: state => state.app.useExplored
    }),
    status() { // making array of statuses awailable on template
      return status
    },
    getImageUrl () {
      if (this.profile.image) {
        return ipfsBaseUrl + this.profile.image.original.src.split("//")[1]
      }
      else return "defaultAvatar.png"
    },
    profileExist() {
      return this.profile && !!this.profile.name
    }
  },
  methods: {

    getProfile() {
        this.profile = {...this.$store.state.app.exploredProfile}
    },


  },
  mounted() {
      this.profile = this.$store.state.app.exploredProfile
  },

}
</script>


