<template>
  <div class="flex flex-center column ">
     <div class="q-mt-md text-center">
       <h6>Profile for the address {{this.$store.state.app.address}}<br/> does not exist</h6>
     </div>
       <q-btn 
        class="q-mb-md bg-yellow-9 text-white" 
        label="Create Profile"
        @click="resetChange"
        to= '/edit'
        />
  </div>
</template>

<script>
export default {
  name: "NotExist"
}
</script>

<style>

</style>