<template>
  <q-card class="flex main__card bg-indigo-2">
    <q-separator />
    <q-card-section class="full-width text-black">
      <h5 class="text-center q-mb-sm q-mt-lg">{{profileIsNew?'Create':'Edit'}} Your Profile</h5>
      <q-form @submit="submit"  class="" ref="form">
        <div class="card__body flex row items-center">
          <div
            class="card__wrap flex col-6 q-mb-md"
            v-for="(value, key) in profileFormDescription"
            :key="key"
          >
            <q-input
              lazy-rules
              item-aligned
              class="full-width q-px-lg"
              v-model="profile[key]"
              :input-class="key === 'imageFile' ? 'q-pl-xl' : ''"
              :label="profileFormDescription[key].label"
              :type="profileFormDescription[key].type || 'text'"
              :rules="profileFormDescription[key].rules"
              color="black"
            />
          </div>
        </div>

        <div class="flex flex-center q-mt-lg">
          <q-btn
            class="bg-indigo-8 text-white q-ma-lg q-px-md"
            label="Cancel"
            :disabled ="loading"
            @click="resetChange"
          />
          <q-btn
            class="bg-indigo-8 text-white q-ma-lg q-px-md"
            :label="profileIsNew?'Create':'Update'"
            :loading = "loading"
            type="submit"
          />
        </div>

      </q-form>
    </q-card-section>
  </q-card>
</template>

<script>
import { mapActions } from "vuex";
import { defaultProfile } from "../../configs/defaultProfile";
import { uploadImage } from "../../helpers/ipfs-functions";

export default {
  name: "ProfileForm",
  data() {
    return {
      profile: { ...defaultProfile },
      imageUpload: null,
      profileFormDescription: {
        name: {
          label: "Name",
          rules: [
            (val) =>
              val.length > 2 || "Field should be more than 2 characters long"
          ]
        },
        imageFile: {
          label: "Image",
          type: "file",
          rules: [
            (val) =>
              val === "" ||
              val[0].type === "image/png" ||
              val[0].type === "image/jpeg" ||
              "Only JPEG or PNG supported"
          ]
        },
        gender: {
          label: "Gender"
        },
        birthdate: {
          label: "Birthdate",
          type: "date",
          rules: [
            (val) =>
              !val ||
              val === " " ||
              val.length > 6 ||
              "Please supply your date of birth"
          ]
        },
        residenceCity: {
          label: "City"
        },
        residenceCountry: {
          label: "Country",
          rules: [
            (val) =>
              !val || val.match(/^[A-Z]{2}$/) || "Please supply country in two letters ('TH', 'US', 'RU')"
          ]
        },
        email: {
          label: "Email",
          type: "email",
          rules: [
            (val) =>
              !val ||
              val
                .toLowerCase()
                .match(
                  /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                ) ||
              "Please enter valid email address"
          ]
        },
        url: {
          label: "url",
          type: "url",
          rules: [
            (val) =>
              !val ||
              val
                .toLowerCase()
                .match(
                  /(http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
                ) ||
              "Please enter valid url"
          ]
        },
        occupation: {
          label: "Occupation"
        },
        description: {
          label: "Personal info"
        }
      }
    };
  },
  computed: {
    profileIsNew () {
     return (!this.$store.state.app.userProfile.name)
    },
    loading() {
      return this.$store.state.app.loading
    }
  },
  methods: {
    ...mapActions({
      updateProfile: "app/updateProfile"
    }),
    resetChange() {
      if (this.isNewProfile) this.profile = { ...defaultProfile };
        else this.getProfile()
        this
        this.$router.push('/')
    },
    getProfile() {
      this.profile = {
        ...defaultProfile,
        ...this.$store.state.app.userProfile
      };
      console.log('Reset Edit', this.profile)
    },
    async submit() {
      this.$store.commit('app/SET_LOADING', true)
      console.log("Profile to submit:", this.profile);
      if (this.profile.imageFile) {
        // new imagefile exists
        const reader = new FileReader();
        reader.readAsDataURL(this.profile.imageFile[0]);
        reader.onload = async (e) => {
          // getting image
          this.imageUpload = e.target.result;
          const res = await uploadImage(
            this.imageUpload,
            this.profile.imageFile[0]
          );
          console.log("successfully uploaded image", res);
          const imageTemp = {
            src: 'ipfs://'+ res.path,
            mimeType: this.profile.imageFile[0].type,
            size: this.profile.imageFile[0].size,
            width: 500, //TODO this set up properly
            height: 500
          };

          this.profile.image = {original: imageTemp}
          await this.prepareAndUpdate()
          this.$router.push('/')
        };
      } else {
        await this.prepareAndUpdate()
        this.$router.push('/')
      }
    },
    async prepareAndUpdate() {
      const preparedProfile = {
        name: this.profile.name,
        ...(this.profile.gender.length > 0) && {gender: this.profile.gender},
        ...(this.profile.birthdate.length > 3) && {birthdate: this.profile.birthdate},
        ...(this.profile.residenceCity.length > 2) && {residenceCity: this.profile.residenceCity},
        ...(this.profile.residenceCountry.length > 1) && {residenceCountry: this.profile.residenceCountry},
        ...(this.profile.email.length > 4) && {email: this.profile.email},
        ...(this.profile.url.length > 4) && {url: this.profile.url},
        ...(this.profile.occupation.length > 1) && {occupation: this.profile.occupation},
        ...(this.profile.description.length > 1) && {description: this.profile.description},
        ...(this.profile.image) && {image: this.profile.image},
      }
      console.log("Updating profile:", preparedProfile);
      await this.updateProfile(preparedProfile);
      console.log("Updating finished");
    }
  },
  mounted() {
    this.getProfile();
  }
};
</script>

<style lang="stylus">
input[type=file]
  padding-left: 50px
</style>
