<template>
<div class="q-px-none">
         <div class="card__body flex q-px-none column items-center ">

                 <div class="col-12 q-pt-lg text-center q-pb-none" v-if="!profileExist">
                   <h5>
                     A new Digital Identity created.<br/><small> Press "create" to create your profile.</small>
                   </h5>
                 </div>
                <div class="col-12 q-pt-md" v-if="profileExist">
                  <q-img :src="getImageUrl" alt="avatar" width="170" id="avatar"/>
                </div>
                <div class="col-12">
                  <h5 class="q-mb-none q-mt-sm">
                  {{profile.name}}
                  </h5>
                </div>
                <div class="col-12 q-pb-sm" v-if="profile.gender">
                  <small>{{profile.gender}}</small>
                </div>
                <div class="col-12 q-pb-sm" v-if="profile.birthdate">
                  {{profile.birthdate}}
                </div>
                <div class="col-12 q-pb-sm" v-if="profile.residenceCity">
                  {{profile.residenceCity}}
                  </div>

                <div class="col-12 q-pb-sm q-pt-lg" v-if="profile.occupation">
                  {{profile.occupation}}
                  </div>
                <div class="col-12 q-pb-sm" v-if="profile.residenceCountry">
                  {{profile.residenceCountry}}
                  </div>

                <div class="col-12 q-pb-sm  q-pt-xs text-black" v-if="profile.email">
                  {{profile.email}}
                  </div>
                <div class="col-12 q-pb-lg " v-if="profile.url">
                  <a :href="profile.url" class="text-grey-9" target="blank">{{profile.url}}</a>
                  </div>
                <div class="col-12 q-pb-sm  q-pt-sm text-grey-9" v-if="profile.description">
                  {{profile.description}}
                  </div>
                <div class="col-12 q-pb-lg q-pt-sm text-center text-grey-9"  style=" word-wrap: break-word;" v-if="profile.did">
                  DID:<br> {{profile.did}}
                </div>

         </div>

        <q-separator/>
        <div class="flex flex-center">
          <q-btn
            class="bg-indigo-9 text-white q-mt-lg q-mb-md q-px-md"
            :label="profileExist?'Edit':'Create profile'"
            @click="getProfile"
            to= '/edit'
            />
            </div>

  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import status from '../../configs/status'
import {defaultProfile} from '../../configs/defaultProfile'
import {ipfsBaseUrl} from '../../helpers/ipfs-functions'
export default {
  name: 'ProfileCard',
  data() {
    return {
      profile: {...defaultProfile},
    }
  },
  computed: {
    ...mapState({
      useExplored: state => state.app.useExplored
    }),
    status() {
      return status
    },
    isEdit() {
      return this.$route.path === '/edit'
    },
    canEdit() {
      return true
    },
    getImageUrl () {
      if (this.profile.image) {
        return ipfsBaseUrl + this.profile.image.original.src.split("//")[1]
      }
      else return "defaultAvatar.png"
    },
    profileExist() {
      return !!this.profile.name
    }
  },
  methods: {
    ...mapActions({
      connect: 'app/connectWallet',
      readProfile: 'app/readProfile',
      updateProfile: 'app/updateProfile'
    }),
    isDid(key) {
      return key==='did'
    },
    resetChange () {
       if(this.newProfile)
        this.profile = {... defaultProfile}
       else
        this.profile = {...this.$store.state.app.userProfile}
    },
    getProfile() {
        this.profile = {...this.$store.state.app.userProfile}
    },
  },
  mounted() {
    if ( Object.keys(this.$store.state.app.userProfile).length === 0) {
      this.newProfile = true
    } else {
      this.profile = this.$store.state.app.userProfile
    }
  },

}
</script>

<style lang="stylus">
  .card__wrap
    min-height: 50px
  .card__key
    min-height: 50px
  .card__value
    overflow: hidden
  #avatar
    width 170px

</style>
