<template>
      <q-card style="min-width: 340px; width: 30vw"
      class="bg-indigo-2"
      > <q-form @submit="explore"  class="" ref="form">
        <q-card-section>
          <div class="text-h6">Enter DID for query</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
         
            <q-input 
          dense 
          v-model="didQuiery" 
          autofocus 
          :rules="[
          val => val.includes('did:') ||  'Enter valid DID'
          ]"
          @keyup.enter="prompt = false"  
          color="black" />
        </q-card-section>

        <q-card-actions align="right" class="text-black">
          <q-btn flat label="Cancel"  @click="cancel"
              :disabled="loading"
          />
          <q-btn flat label="Explore" 
            :loading="loading"
              type="submit"
           />

        </q-card-actions>           
        </q-form>
      </q-card>

</template>

<script>
export default {
  name: "QueryCard",
  data() {
    return {
      didQuiery: ''
    }
  },
  computed: {
    loading() {
      return (this.$store.state.app.loading)
    }
  },
  methods: {
    cancel() {
      this.$router.push('/')
    },
    async explore() {
       await this.$store.dispatch('app/queryProfile', this.didQuiery)
      console.log('finished', this.$store.state.app.exploredProfile);
      this.$router.push('/view')
    }
  }
}
</script>

<style>

</style>