<template>
  <q-page class="flex flex-center ">
      <WalletWrapper/>
  </q-page>
</template>

<script>
import WalletWrapper from '../components/WalletWrapper.vue'
export default {
  name: 'PageIndex',
  components: {WalletWrapper},

  }
</script>
