<template>
<q-card class=" flex main__card bg-indigo-2"
   v-if="currentStatus !== $store.state.app.appStates.DISCONNECTED"
>
  <q-card-section class=" full-width text-black q-px-md q-mt-sm">



  <div v-if="currentStatus === $store.state.app.appStates.CONNECTED" class="flex flex-center column" >
    <h5 class="text-center q-mt-lg">
      Wallet connected. <br/> 
      {{loading? 'loading...':'Press "Start" to read your profile.'}}
       <br/><br/>
      <small>It will take some time.</small>
    </h5>
     <q-btn 
      class="bg-indigo-9 text-white q-mt-md" 
      label="Start"
      @click="readProfile"
      :loading="loading"
      />
  </div>

    <div v-else-if="currentStatus === $store.state.app.appStates.NEW_PROFILE" class="flex flex-center column" >
    <h5 class="text-center">
      There is no profile connected with this wallet address.
      <br/>Press 'Create'.
    </h5>
     <q-btn 
      class="bg-indigo-9 text-white q-mt-lg" 
      label="Create"
      @click="createProfile"
      :loading="loading"
      />
  </div>

  <div v-else-if="currentStatus === $store.state.app.appStates.PROFILE_READ">
    <profile-card/>
  </div>
  
  <div v-else>
    PLEASE RELOAD PAGE
  </div>
            

</q-card-section>
</q-card>
</template>

<script>
import { mapActions } from 'vuex'
import ProfileCard from './cards/ProfileCardView.vue'
export default {
  name: 'WelcomeConnect',
  components: { ProfileCard },
  computed: {
  status() { // making array of statuses awailable on template
      return status
  },
  currentStatus() {
    return this.$store.state.app.status
  },
   loading() {
    return this.$store.state.app.loading
   },
   path() {
     return this.$router
   }
  },
  methods: {
    ...mapActions({
      connect: 'app/connectWalletAndProfile',
      readProfile: 'app/readProfile'
    }),
    createProfile() {
       this.$router.push('/edit')
    }
  },
}
</script>

<style lang="stylus">
.main__card 
  min-width: 340px
  overflow: hidden
  max-width: 760px
  min-height: 350px
  width: 35vw
.card__body
  min-height: 200px
</style>