<template>
  <q-header elevated style="background: none">
      <q-toolbar>
        <q-toolbar-title>
          <a href="/" class="text-grey-2" style="text-decoration: none">
          Digital Passport
          </a>
        </q-toolbar-title>

        <q-btn
          class="bg-indigo-9 text-white" 
          label="Connect"
          @click="connect"
          v-if="walletDisonnected"
        />

        <div v-if="profileRead" class="account__block row bg-indigo-9 q-pa-xs">
           <div class="q-pt-xs q-px-sm">
             {{connectionData.balance==0?connectionData.balance:connectionData.humanFriendlyBalance}}
              {{connectionData.chainData.nativeCurrency.symbol}}
            </div>
            <q-btn
              dark outlined flat class="bg-indigo-10" style="text-transform: capitalize" 
              @click="openWalletModal"
              :disabled = "loading"
              size="sm"
              >
              {{getShortAddress}}
            </q-btn>
        </div>

        <q-btn
             v-if="profileRead"
            dark outlined flat class="q-mx-md bg-indigo-10" style=" text-transform: capitalize" 
            to="/explore"
            size="md"
            :disabled = "loading"
            >
            Explore DID
        </q-btn>
      </q-toolbar>
    </q-header>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { walletStates } from '../mixins/mixins'
import {formatAddress} from '../helpers/general'
export default {
  name: "Header",
  mixins: [walletStates],
  computed: {
    ...mapState({
     connectionData : state => state.app.connectionData
    }),
    getShortAddress() {
      return formatAddress(this.$store.state.app.address)
    },
    walletModalShow() {
      return this.$store.state.app.walletModalShow
    },
  },
  methods:  {
    ...mapActions({
      connect: 'app/connectWalletAndProfile',
    }),
    openWalletModal() {
      this.$store.commit('app/SET_WALLET_MODAL', true)
    },
  }
}
</script>

<style lang="stylus" scoped>
.account__block 
  border-radius: 5px
</style>