<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>

export default {
  name: 'App',
    components: {
  },
  data() {
    return {
    }
  },
  mounted() {
    this.$nextTick(async () => {
      this.$store.dispatch('app/initWeb3')
    })
  },

}
</script>
