<template>
  <q-layout view="lHh Lpr lFf">
    <Header/>
    <q-page-container id="mainpage">
        <q-page class="flex flex-center ">
          <router-view/>
        </q-page>
    </q-page-container>
    <wallet-modal/>
  </q-layout>
</template>

<script>
import Header from 'components/Header.vue'
import WalletModal from 'components/modals/WalletModal.vue'
export default {
  name: 'MainLayout',
  components: { Header, WalletModal },
  data () {
    return {
    }
  },
}
</script>

<style lang="stylus">
  #mainpage
    background: url('/back.jpg') 
    background-size: cover
</style>
